body
{
	font-family: Arial;
	color: #dbdbdb;
	background-color: #2a2a33;
}

a:link
{
	color:#6ba6ff;
}
a:visited
{
	color:#b9cdff;
}
a:active
{
	color:#2a589e;
}
a:hover
{
	color:white;
}
div.main
{
	display: block;
	border-style: solid;
	border-color: #7cb2d5;
	border-width: 5px;
	border-radius: 10px;
	background-color: #1c2a39;

	width:1000px;
	margin: auto;

	padding-left: 15px;
	padding-right: 15px;
}
h1
{
	text-align: center;
}
h2.top
{
	text-align: center;
	margin-bottom: 5px;
	margin-top: 5px;
}
.menu
{
	text-align: center;
	width: 75px;
	margin: auto;
	padding-bottom: 10px;
}
.menu:hover .menu-content
{
	display: block;
}
.menu:hover .menu-button
{
	background-color: #1374c6;
}
.menu-content
{
	display: none;
	background-color: #d1d1d1;
	position: absolute;
}
.menu-button
{
	text-transform: uppercase;
	font-size: 15px;
	cursor: pointer;
	color: white;
	border-radius: 5px;
	background-color: #1694ff;
	border-style: none;
	padding: 10px;
}
.menu-content a
{
	text-decoration: none;
	color: black;
	padding: 10px 10px 10px 10px;
}
.menu-content a:hover
{
	background-color: #AAA;
}
#game-menu
{
	float: left;
}
#other-menu
{
	float: right;
}
#menu
{
	margin: auto;
	width: 150px;
	overflow: hidden;
}